<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/CodeIgniter-3.1.13/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/lib/php-font-lib/tests" />
        <option value="$PROJECT_DIR$/application/libraries/dompdf/lib/php-svg-lib/tests" />
      </list>
    </option>
  </component>
</project>